  <li class='c-comment'>
  <span 'c-user-icon'>
    <%= link_to comment.user_name, profile_path(comment.user)%>
  </span>
  <span 'c-comment-message'>
    <%=  raw comment.message%>
  </span>
  </li>
